@import org.webjars.play.WebJarsUtil
@import forms.RenderSketchForm._
@import play.api.Play

@(renderForm: Form[RenderDesc])(implicit request: MessagesRequestHeader, webJarsUtil: WebJarsUtil)

@main("MultiEditor") {

  <div class="ui basic pushable segment" style="margin-bottom: 0px">
    
    <div class="ui left vertical visible inverted sidebar menu" id="editor-left-sidebar">
    </div>

    <div class="ui right inverted visible labeled inline vertical sidebar icon menu">
    </div>
    
    <div class="pusher">
      <div id="editor-div" style="margin-left:260px; margin-right:84px; height: 100%;">
      </div>
    </div>
    
  </div>

  <form id="render-request-form" action="/renderSketch" method="post" target="_blank">
    @helper.CSRF.formField
    <input id="sketch-file" type="hidden" name="fileName" value="sketch.svg">
    <input id="render-type" type="hidden" name="renderType" value="default">
    <input id="render-data" type="hidden" name="renderData" value="default">
    <input id="sizing-mthd" type="hidden" name="sizingMethod" value="default">
  </form>  
  
  <script>
    MultiEdit.initialize();
  </script>
  
}
