@import org.webjars.play.WebJarsUtil
@import play.api.Play

@()(implicit webJarsUtil: WebJarsUtil)

@main("MultiEditor") {

  <div class="ui basic pushable segment" style="margin-bottom: 0px">
    
    <div class="ui left vertical visible inverted sidebar menu" id="editor-left-sidebar">
    </div>

    <div class="ui right inverted visible labeled inline vertical sidebar icon menu">
    </div>
    
    <div class="pusher">
      <div id="editor-div" style="margin-left:260px; margin-right:84px; height: 100%;">
      </div>
    </div>
    
  </div>

  <script>
    MultiEdit.initialize();
  </script>
  
}
